@font-face {
  font-family: "Windows101SystemFont";
  src: url("./windows-1-01-system-font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-sans: "Windows101SystemFont", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Windows101SystemFont", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: "Windows101SystemFont", monospace;
  image-rendering: pixelated;
}
